# Ignore IntelliJ IDEA project-specific files
.idea/
*.iml
*.ipr
*.iws

# Ignore build output directories
/out/
target/
build/

# Ignore temporary files
*.swp
*.swo
*~

# Ignore OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Ignore other IDE-specific files
.vscode/
*.workspace

# Ignore Java dependencies
*.class

# Ignore coverage results
jacoco.exec

# Ignore configuration and environment files
.env
